@import "styles/header_styles.css";
@import "styles/footer_styles.css";
@import "styles/invitation_styles.css";
@import "styles/about_styles.css";
@import "styles/experience_timeline_styles.css";
@import "styles/project_styles.css";
@import "styles/contact_form_styles.css";
@import "styles/TerminalStyles.css";

.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
