@import "block_styles.css";

.background_block {
    display: flex;
    height: auto;
    min-height: 100vh;
    background-color: #040C0B;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7.8125em;
}

