.main-container {
    background-color: #040C0B;
}

.block_container {
    display: flex;
    flex-direction: row;
    height: auto;
    cursor: default;
}

.last_block_container {
    margin-bottom: 8em;
}

.narrow_block {
    position: relative;
    max-width: 19.0625em;
    height: auto;
    padding: 0 0 2.5em 2.5em;
    margin-top: 20px;
    background: rgba(20, 30, 37, 0.75);
    border-radius: 1em;
}

.sub_header {
    color:rgba(254, 234, 83, 1);
    font-family: Oxygen, monospace;
    font-weight: bold;
    font-size: 1.75em;
    line-height: 120%;
}

.testimonials_name_header {
    color:rgba(254, 234, 83, 1);
    font-family: Oxygen, monospace;
    font-size: 1.125em;
    line-height: 120%;
    margin-top: 2em;
}

.main_header {
    color:rgba(254, 234, 83, 1);
    font-family: Oxygen, monospace;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
}

.block_icon {
    width: 60px;
    height: 60px;
    float: right;
}

.icon_frame {
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 75px;
    border-radius: 0 1em;
    background-color: #040C0B;
    float: right;
}

.text_container {
    position: relative;
    top: 40px;
    margin: 0 40px 40px 0;
}

.accent_subheader {
    color:rgba(254, 234, 83, 1);
    font-family: Oxygen, monospace;
    margin-top: 1.5em;
}

.text {
    margin-top: 1.25em;
    color: rgba(255, 255, 255, 1);
    font-family: Oxygen, monospace;
    font-size: 1em;
    line-height: 150%;
}

.ul_experience_tasks {
    margin-top: 2em;
}

.list {
    color: rgba(255, 255, 255, 1);
    font-family: Oxygen, monospace;
    font-size: 1em;
    line-height: 150%;
}

.tech_icon_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tech_icon {
    margin-right: 44px;
    width: 2em;
    height: 2em;
}

.tech_icon_last {
    margin-right: 0;
}

.narrow_column {
    width: 19.0625em;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.last_column {
    margin-right: 0;
}

#contact_me_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 6px);
    height: 46px;
    margin-top: 20px;
    border-radius: 0.5em;
    background: linear-gradient(to right bottom, #FEEA53 0%, #F1B306 100%);
    transition: 0.5s ease-in-out;
    border: 3px solid;
}

#contact_me_button:hover {
    background: #040C0B;
    border: 3px solid;
    color: #F1B306;
    transition: 0.5s ease-in-out;
}

#contact_me_link {
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
    font-family: Oxygen, monospace;
}

.wide_column {
    #border: 1px solid #F1B306;
    display: flex;
    flex-direction: column;
    width: 25.875em;
}

.wide_block {
    position: relative;
    margin-top: 20px;
    width: 23.375em;
    height: auto;
    padding: 0 0 2.5em 2.5em;
    background: rgba(20, 30, 37, 0.75);
    border-radius: 1em;
}

.expand_block_to_bottom {
    flex-grow: 1;
}

.margin_column_right {
    margin-right: 1.25em;
}

.reduce_line_height {
    line-height: 0;
    margin-top: 40px;
}

.increase_margin {
    margin-top: 32px;
}

#download_cv {
    font-weight: bold;
    color: #040C0B;
    font-family: Oxygen, monospace;
    font-size: 1.75em;
}

.yellow_block {
    background: linear-gradient(to right bottom, #FEEA53 0%, #F1B306 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.image_block {
    margin-top: 20px;
    width: 19.0625em;
}

.full_width_container {
    width: 100%;
    height: 30.4375em;
    margin-top: 20px;
    background: rgba(20, 30, 37, 0.75);
    border-radius: 1em;
    margin-bottom: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.two_third_width_container {
    height: 30.4375em;
    margin-top: 20px;
    margin-right: 20px;
    background: rgba(20, 30, 37, 0.75);
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.row_container {
    width: calc(19.0625em + 19.0625em + 23.375em + 40px);
}

.two_thirds_row_container {
    width: calc(19.0625em + 23.375em + 40px);
}

.two_thirds_column_container {
    width: calc(19.0625em + 23.375em + 40px);
    float: left;
}

.yellow_block_experience {
    align-items: flex-start;
    justify-content: center;
    padding-left: 2.5em;
}

.company-yellow-block {
    font-size: 1.75em;
    font-weight: bold;
    margin: 0 0 1em 0;
    font-family: Oxygen, monospace;
}

.position-yellow-block {
    font-size: 1.75em;
    margin: 0;
    font-family: Oxygen, monospace;
}