.timeline {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 0 40px;
}

.timeline::before {
    content: '';
    position: absolute;
    height: 6px;
    border-radius: 3px;
    width: 90%;
    background: linear-gradient(#FEEA53 0%, #F1B306 100%);
    left: 5%;
    bottom: 0.5em;
}

.timeline-item {
    padding: 2em 0;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Oxygen, monospace;
    cursor: pointer;
}

.timeline-item-selected {
    font-weight: bold;
    font-size: 28px;
    cursor: default;
}

.period {
    color: #FEEA53;
}

.period_selected {
    color: #FEEA53;
    cursor: default;
    white-space: nowrap;
}

.company-name {
    color: #FFF;
    width: min-content;
}

.timeline-content {
    position: absolute;
    bottom: 50%;
    padding: 20px;
    cursor: pointer;
}

.timeline-content-selected {
    cursor: default;
}

.timeline-content-last {
    top: 100%;
}

.timeline-dot {
    position: absolute;
    bottom: 0.15em;
    width: 16px;
    height: 16px;
    background: linear-gradient(to right, #FEEA53, #F1B306);
    border-radius: 50%;
    z-index: 2;
}

.timeline-dot-underline {
    top: 0;
}

.timeline-dot-selected {
    position: absolute;
    bottom: -0.15em;
    width: 29px;
    height: 29px;
    background: linear-gradient(to right, #FEEA53, #F1B306);
    border-radius: 50%;
    cursor: default;
    z-index: 3;
}

.timeline-link {
    height: 5em;
}

.timeline-item-underline {
    position: relative;
    top: 3.8em;
}