.about_me_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    align-items: center;
    z-index: 1;
}

.intro_container {
    position: relative;
    width: 30em;
    height: 23.25em;
    background: rgba(20, 30, 37, 0.6);
    border-radius: 1em;
    padding: 0 2.65625em;
    margin-right: 1.25em;
    display: flex;
    flex-direction: column;
}

#intro_text {
    color: rgba(254, 234, 83, 1);
    font-family: Oxygen, monospace;
    font-size: 3em;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
    margin: 40px 0 0 0;
    cursor: default;
}

#about_me_text {
    color: rgba(255, 255, 255, 1);
    font-family: Oxygen, monospace;
    font-size: 1em;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 32px 0 0 0;
    cursor: default;
}

#container_link_icons {
    display: flex;
    flex-direction: row;
}

.icon_link {
    margin: 24px 32px 0 0;
}

.top_skills_icon {
    height: 7.75em;
    width: 7.75em;
    display: flex;
}

.top_skills_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 2.5em;
    justify-content: space-between;
}

/* background-container */
.video-background {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    filter: hue-rotate(202deg) brightness(0.6);
    z-index: -2;
}

.video-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(178.88deg, #040C0B 19.05%, rgba(4, 12, 11, 0.612215) 42.95%, rgba(4, 12, 11, 0) 69.64%);
    z-index: -1;
}